head
    title Plantilla de Ingreso de Datos en PUG
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/app.js')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
    style  
        include ../public/css/style.css